/* ==========================================================================
    Components
   ========================================================================== */


/*  Blocks
   ========================================================================== */





/*  Buttons
   ========================================================================== */

.button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    .user-select(none);
    -webkit-user-drag: none;
    font-style: normal;
    font-family: @font-helvetica;
    line-height: normal;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;

    &:hover,
    &:focus {

        outline: none;
    }

    &:active {

    }

    &[disabled],
    &.disabled {
        cursor: not-allowed;
        pointer-events: none;
        .opacity(50);
    }

    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
}



/*  Icons
   ========================================================================== */

[class^="icon-"],
[class*=" icon-"] {
    width: auto;
    height: auto;
    padding: 0;
    margin-top: 0;
    display: inline-block;
    .ir;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    .background-size(cover);
    line-height: normal;
    vertical-align: baseline;
}



/*  Labels
   ========================================================================== */

.label {

}



/*  Tips
   ========================================================================== */

.tip {

}



/*  Alerts
   ========================================================================== */

.alert {

    .alert-title {

    }

    .alert-content {

    }
}
