/* ==========================================================================
    Variables
   ========================================================================== */


/*  Media Queries
   ========================================================================== */





/*  Fonts
   ========================================================================== */

/* Custom */

@font-open-sans: "Open Sans", sans-serif;



/*  Type Sizes
   ========================================================================== */

@base-font-size: 16;
@em: @base-font-size * 1em;



/*  Color Pressets
   ========================================================================== */

@color-black: #000;
@color-white: #fff;
